<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 🌐 Internet (Firebase) -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MedicalShopB2B"
        tools:targetApi="35">
        <activity
            android:name=".CustomerHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".ShopkeeperOrdersActivity"
            android:exported="false" />

        <activity
            android:name=".Debugstockactivity"
            android:exported="false" />
        <activity
            android:name=".SupplierAnalyticsActivity"
            android:exported="false" />
        <activity
            android:name=".UpdateMedicineActivity"
            android:exported="false" />
        <activity
            android:name=".SupplierInventoryActivity"
            android:exported="false" /> <!-- 🔥 FILE PROVIDER (MANDATORY FOR PDF OPENING) -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider> <!-- ================= ACTIVITIES ================= -->
        <activity
            android:name=".SupplierReorderActivity"
            android:exported="false" />
        <activity
            android:name=".BillSummaryActivity"
            android:exported="false" />
        <activity
            android:name=".MedicineDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".SupplierMedicinesActivity"
            android:exported="false" />

        <activity
            android:name=".SelectSupplierActivity"
            android:exported="false" />
        <activity
            android:name=".AddMedicineActivity"
            android:exported="false" />
        <activity
            android:name=".OrderDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".SupplierOrdersActivity"
            android:exported="false" />
        <activity
            android:name=".CartActivity"
            android:exported="false" /> <!-- 🚀 LOGIN = LAUNCHER -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ShopkeeperDashboardActivity"
            android:exported="false"
            android:label="" />
        <activity
            android:name=".SupplierDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>